{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<main class="w-full flex flex-col flex-1 items-center justify-center gap-12 py-9">
		<div class="w-[90%] h-auto flex flex-col items-center py-9 gap-14">

			<h1 class=" text-8xl font-[lobsterTwo] gold-color-text">Contactez-nous !</h1>


			{{form_start(form, {'attr': {'class': 'flex flex-col items-center justify-center gap-6 text-white text-[inter] text-[28px] border-4 gold-border p-9'}})}}
			<div class="flex flex-row gap-6 w-full justify-between items-center">
				{{ form_label(form.lastname, 'Nom* :') }}
				{{ form_widget(form.lastname, {'attr': {'required': true, 'minlength': 3, 'maxlength': 50, 'placeholder': 'Entrez votre nom', 'class': "text-[16px] bg-white rounded-sm w-64  text-black  p-1 hover:scale-105 focus:scale-105 outline-none cursor-pointer"}})}}
				{{ form_errors(form.lastname, {'attr': {'class': "text-[16px] text-white font-semibold"}})}}
			</div>

			<div class="flex flex-row gap-6 w-full justify-between items-center">
				{{ form_label(form.firstname, 'Prénom* :') }}
				{{ form_widget(form.firstname, {'attr': {'required': true, 'minlength': 3, 'maxlength': 50, 'placeholder': 'Entrez votre prénom', 'class': "text-[16px] bg-white rounded-sm w-64  text-black  p-1 hover:scale-1105focus:scale-105 outline-none cursor-pointer"}})}}
				{{ form_errors(form.firstname, {'attr': {'class': "text-[16px] text-white font-semibold"}})}}
			</div>

			<div class="flex flex-row gap-6 w-full justify-between items-center">
				{{ form_label(form.email, 'Email* :') }}
				{{ form_widget(form.email, {'attr': {'required': true, 'minlength': 3, 'maxlength': 50, 'placeholder': 'Entrez votre email', 'class': "text-[16px] bg-white rounded-sm w-64  text-black  p-1 hover:scale-105 focus:scale-105 outline-none cursor-pointer"}})}}
				{{ form_errors(form.email, {'attr': {'class': "text-[16px] text-white font-semibold"}})}}
			</div>

			<div class="flex flex-row gap-6 w-full justify-between items-center">
				{{ form_label(form.phone, 'Téléphone :') }}
				{{ form_widget(form.phone, {'attr': {'required': true, 'minlength': 3, 'maxlength': 50, 'placeholder': 'Entrez votre téléphone', 'class': "text-[16px] bg-white rounded-sm w-64 text-black  p-1 hover:scale-105 focus:scale-105 outline-none cursor-pointer"}})}}
				{{ form_errors(form.phone, {'attr': {'class': "text-[16px] text-white font-semibold"}})}}
			</div>


			<div class="flex flex-col gap-6 w-full ">
				{{ form_label(form.message, 'Message* :') }}
				{{ form_widget(form.message, {'attr': {'required': true, 'minlength': 50, 'maxlength': 255, 'placeholder': 'Entrez votre message (message compris entre 50 et 255 caractères)', 'class': "text-[16px] w-full h-[300px] bg-white rounded-sm w-64  text-black text-center p-1 hover:scale-105 focus:scale-105 outline-none cursor-pointer"}})}}
				{{ form_errors(form.message, {'attr': {'class': "text-[16px] text-white font-semibold"}})}}
			</div>

			<button class='text-white gold-bg text-[20px] w-32 h-10 rouded-sm' type="submit">Envoyer</button>

			{{ form_end(form) }}

			<a href="#" class="hover-3d my-12 mx-2 cursor-pointer">
  
  <!-- content -->
  <div class="card w-96 bg-black text-white bg-[radial-gradient(circle_at_bottom_left,#ffffff04_35%,transparent_36%),radial-gradient(circle_at_top_right,#ffffff04_35%,transparent_36%)] bg-size-[4.95em_4.95em]">
    <div class="card-body">
      <div class="flex justify-between mb-10">
        <div class="font-bold">BANK OF LATVERIA</div>
        <div class="text-5xl opacity-10">❁</div>
      </div>
      <div class="text-lg mb-4 opacity-40">0210 8820 1150 0222</div>
      <div class="flex justify-between">
        <div>
          <div class="text-xs opacity-20">CARD HOLDER</div>
          <div>VICTOR VON D.</div>
        </div>
        <div>
          <div class="text-xs opacity-20">EXPIRES</div>
          <div>29/08</div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 8 empty divs needed for the 3D effect -->
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</a>

		</div>
	</main>
{% endblock %}
