<!DOCTYPE html>
<html lang='fr'>
	<head>
		{# general meta #}
		<meta charset="UTF-8">
		<meta name="author" content="Mickael">
		<meta
		name="description" content="Vnez découvrir le restaurant Le Volcan, situé au pied des volcans du puy de dôme, il saura vous faire découvrir les spécialités Auvergnates">

		{# css and js links #}
		<link
		rel="stylesheet" href="{{ asset('styles/app.css') }}">

		{# fonts #}
		<link rel="preload" href="{{ asset('fonts/Lobster_Two/LobsterTwo-Regular.woff2') }}" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ asset('fonts/Inter/static/Inter_18pt-Regular.woff2') }}" as="font" type="font/woff2" crossorigin> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		<title>Le volcan -
			{% block title %}Le volcan
			{% endblock %}
		</title>

	</head>
	<body class="bg-black h-svh flex flex-col"> {% block body %}{% endblock %}

		{# general footer for all project #}
		<footer class="w-full flex flex-row items-center justify-between p-6 border-t-4 gold-border">
			<div class="w-auto h-auto flex flex-row gap-2">

				<div class="w-16 h-16 cursor-pointer">
					<a target="_blank" href="https://facebook.com" class="outline-none hover:rotate-20 hover:scale-110 focus:rotate-20 focus:scale-110 transition-transform duration-200 ease-out block">
						<img class="w-full h-full   " target='_blank' src="{{ asset('icons/facebook-icon.svg')}}" alt="Aller sur Facebook">
					</a>
				</div>

				<div class="w-16 h-16 cursor-pointer">
					<a target="_blank" href="https://instagram.com" class="outline-none hover:rotate-20 hover:scale-110 focus:scale-110 focus:rotate-20  transition-transform duration-200 ease-out block">
						<img class="w-full h-full" target='_blank' src="{{ asset('icons/instagram-icon.svg')}}" alt="Aller sur Instagram">
					</a>
				</div>
			</div>

			<div>
				<p class="font-[inter] text-white text-[20px] text-center">&copy; 2026 Le Volcan - Tous droit réservés.
				</p>
			</div>
		</footer>
	</body>
</html>
